.my-page-item {
    margin-bottom: 5px;
    /* 항목 사이의 여백 추가 */
}

ul hr {
    margin: 10px 0px;
}

.mypage_hr {
    height: 1px;
    border: 0;
}

.userUpdate input {
    width: 300px;
    height: 45px;
    border: none;
    outline: 1px solid #8989896c;
    box-shadow: none !important;
}

.userUpdate input:hover {
    outline: 1px solid #0000009e;
    transition: outline 0.5s;
}

.userUpdate input:focus {
    transition: all 0.01s;
    outline: 2px solid #0000009e !important;
}

input[name='userId']:hover {
    border: none;
    outline: 1px solid #8989896c;
    box-shadow: none !important;
}

.email_check {
    background-color: white;
    border: none;
    color: black;
    outline: 1px solid #c4ddc0;
    box-shadow: 0px 0px 2px #6cba60;
    height: 43px;
}

.email_check:hover {
    background-color: white;
    color: black;
    outline: 1px solid #c4ddc0;
    box-shadow: 0px 0px 5px #6cba60;
}

.email_check:active,
.email_check:focus {
    background-color: white !important;
    color: black !important;
}

#update_user {
    opacity: 0.8;
}

#update_user:hover {
    opacity: 1;
    transition: 0.5s;
}

.mypage_side a:hover {
    padding-left: 30px;
    transition: 0.5s;
}

.mypage_side a:not(:hover) {
    transition: 0.5s;
}

#couple_profile,
#my_profile {
    width: 150px;
    height: 150px;
    border-radius: 15%;
    background-color: #eeeeee;
    overflow: hidden;
    object-fit: cover;
}

#couple_info {
    cursor: pointer;
}

.couple-input:hover {
    outline: 1px solid #0000009e !important;
    transition: outline 0.5s;
}

.couple-input:focus {
    transition: all 0.01s;
    outline: 2px solid #0000009e !important;
}

#couple_dday:focus {
    outline: 1px solid #0000009e !important;
}

.speech-bubble {
    position: absolute;
    visibility: hidden;
    top: 29%;
    left: 77%;
    opacity: 0;
    width: 240px;
    background: #c4ddc0;
    border-radius: .4em;
    padding: 10px;
    transition: 0.5s
}

.speech-bubble:after {
    visibility: hidden;
    opacity: 0;
    content: '';
    position: absolute;
    top: 1%;
    left: 10%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #c4ddc0;
    border-top: 0;
    border-left: 0;
    margin-left: -10px;
    margin-top: -20px;
    transition: 0.4s
}

.speech-bubble.show {
    visibility: visible;
    opacity: 1;
}

.speech-bubble.show:after {
    visibility: visible;
    opacity: 1;
}